<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=cscs</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">12345678</property>
		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="show_sql">false</property>

		<mapping class="com.cscs.model.bo.Computer" />
		<mapping class="com.cscs.model.bo.TB_CSCS" />
		<mapping class="com.cscs.model.bo.Department" />
		<mapping class="com.cscs.model.bo.DIR_DISPLAY" />
		<mapping class="com.cscs.model.bo.GAD_SOFT" />
		<mapping class="com.cscs.model.bo.OS_VER" />
		<mapping class="com.cscs.model.bo.TB_LOG" />
		<mapping class="com.cscs.model.bo.SMS" />
		<mapping class="com.cscs.model.bo.SYS_DEFAULT" />
	</session-factory>

</hibernate-configuration>