@import url(menu.css);

html, body {border: 0; margin: 0; padding: 0; }

body {
  	font: 90%/1 arial, helvetica, sans-serif;
  	line-height: 130%;
  	width: 100%;
  	min-width: 970px;
}

h1, h2, h3, h4, h5, h6 {
  	margin: 0;
  	padding: 0;
  	font-weight: normal;
}

p {margin: 0; padding: 0 0 18px 0;}

ul {list-style: none; margin: 0; padding: 0;}

a {
  	text-decoration: none;
  	color: #0099CC;
}

a:hover {text-decoration: none; color: #00CCFF;}


/****Images ****/
img {border: none;}

img.alignleft {
	display: block;
	padding: 3px;
	background: #F5F4F3;
	border: 1px solid #E8E4F0;
	float: left;
	margin: 0 10px 2px 0;
}

/***** Main Layout ****/

#container {
  	width: 100%;
  	height: 100%;
  	text-align: center;/* IE fix to center the page */
	position: relative;
	z-index: 0;
}

#wrapper {
  	width: 960px;
  	background: url(images/bg_content.png) repeat-y top left;
  	margin: 0 auto;/* center the page in Firefox */
  	text-align: left;
	position: relative;
	z-index: 2;
}

/***** LOGO *****/

#logo {
	width: 250px;
  	height: 100px;
  	background: url(images/logo.png) no-repeat;
  	margin:0 10%;
}


/***** HEADER *****/
#header {
	width: 100%;
	height: 214px;
	background: url(images/header.png) no-repeat;
	position: relative;
	z-index: 1;
	color: white;
	font-family: "Trebuchet MS",Tahoma, Arial, sans-serif;
}

#header .intro {
	width: 500px;
	height: 130px;
	padding: 50px 0 0 30px;
}

#header .intro h1 {
	font-size: 2.5em;
	padding: 5px 0 5px 0;
	font-weight: bold;
}

#header .intro p {
	font-size: 1.4em;
	padding: 0;
	margin: 5px;
	color: #FFFFCC;
}

/***** CONTENT *****/
#content {
	display: block;
	float: left;
	clear: left;
	width: 640px;
	padding: 20px;
	margin: 0 0 30px 0;
	clear: both;
	text-align: justify;
	font-size: 0.9em;
}

#content div.group {
	float:left;
    margin:15px 0 25px 25px;
	padding: 5px;
    border:1px solid #a69a65;
    background:#F5F4F3;
    text-align:center;
}

#content div.group img{
    max-height:100px;
    min-width:100px;
}


#content h1 {
	background: #F8F7D0 url(images/adobe.jpg) no-repeat 0 bottom;
	border: #EEEEDF 1px solid;
	height: 25px;
	font-size: 1.5em;
	font-weight: bold;
	padding: 5px 0 0 30px;
	margin: 10px 0;
	color: #006699;
}

#content h2 {
	background: #F8F7D0 url(images/label5.png) no-repeat 0 bottom;
	border: #EEEEDF 1px solid;
	height: 25px;
	font-size: 1.5em;
	font-weight: bold;
	padding: 5px 0 0 30px;
	margin: 10px 0;
	color: #006699;
}

#content p {
	padding: 5px 0  5px 15px;
    font-size: 15px;
    text-align:left; 
    font-family: "»ªÎÄÐÂÎº";
    text-decoration:none;
}

#content .title{
	width:100%; 
	font-weight:bold; 
	text-align:left; 
	float:left; 
	clear:left;
	font-size:1.2em
}
	 
#content strong {
	font-size:1.3em;
}

/**** Code Box ****/
#box {
    float:left; 
    text-align:left; 
	border:1px solid green;
	min-width: 600px;
}

/**** Back to top ****/
#content a.backToTop {
	display: block;
	clear: both;
	width: 100px;
	height: 20px;
	margin: 5px 0 5px 88%;
	background: url(images/content_backToTop.jpg) no-repeat right 0;
}

#content a:hover.backToTop {
	border: none;
	background: url(images/content_backToTop.jpg) no-repeat right -20px;
}

/***** SIDEBAR *****/
#sidebar {
	display: block;
	float: left;
	width: 255px;
	height:500px;
	padding-left: 15px;
	margin-bottom: 30px;
	font-size: 0.8em;
	background: url(images/sidebar_bg.jpg) no-repeat 0 0;
}

#sidebar h2 {
	font-size: 1.6em;
	font-variant: small-caps;
	color: #65C80B;
	border-bottom: 1px solid #ccc;
	width: 250px;
	font-weight: bold;
	margin: 40px 0 10px 0;
}

#sidebar h3 {
	color: #CC3300;
	border-bottom: dotted 1px #ccc;
	font-size: 1.2em;
	font-weight: bold;
	margin: 2px;
	display: block;
	float: left;
	width: 250px;
	padding: 0;
}

#sidebar h3 a:hover{
    background:#666666;
	margin: 0;
	display: block;
	float: left;
	width: 250px;
}

#sidebar .comeback {
	display:block;
    float:right;
	cursor:pointer;
}

/**** Sidebar_Feature ****/
#sidebar ul#flash li  {
	line-height: normal;
	border-bottom: dotted 1px #ccc;
	margin: 0 0 10px 0;
	padding: 0;
	height: 60px;
}

#sidebar ul#flash li a img {
	display: block;
	float: left;
	border: #EDEBE9 1px solid;
	background: #F5F4F3;
	padding: 3px;
	margin: 0 5px 0 0;
}

#sidebar ul#flash li a:hover img {
	border: #646464 1px solid;
	background: #eee;
}

#sidebar ul#flash li h4 {
	color: #CC3300;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
	display: block;
	float: left;
	width: 188px;
	padding: 0;
}

#sidebar ul#flash li p {
	margin: 0;
	padding: 0 0 5px 0;
}

#sidebar ul#flash li a {
	text-decoration: underline;
}



/***** BLK *****/
a.closeBtn {
	position:absolute;
	top:10px;
	right:10px;
	display:block;
	width:30px;
	height:30px;
	padding:4px 0;
	background:url(images/close1.png) no-repeat;
}

a.closeBtn:hover {
	background:url(images/close2.png) no-repeat;
}

.tigger {
	cursor:pointer;
	font-size:14px;
	color:#CC3300;
	text-decoration:none;
}

.blk {
       width:750px;
       height:600px;
	   position:relative;
	   display:none;
}


.blk .main {
	   border:2px solid #ccc;
	   position:relative;
	   background:url(images/02.gif);
}

.blk .main h2 {
	   font:bold 16px "Microsoft YaHei";
	   padding:10px 20px 2px;
	   color:#85B6E2;
}

.blk .main ul {
	   overflow:hidden;
	   padding:20px;
}

.block {
       width:600px;
	   position:relative;
}


.block .main {
	   border:2px solid #ccc;
	   position:relative;
	   background:url(images/02.gif);
}

.block .main h2 {
	   font:bold 16px "Microsoft YaHei";
	   padding:10px 20px 2px;
	   color:#FFFFFF;
	   height:30px;
	   background-color:#333333;
}

.block .main ul {
	   overflow:hidden;
	   padding:20px;
}


/**** Upload ****/
.text-input {
	width: 240px;
	color: 555;
	padding: 3px;
	border: 1px solid #B5B8C8;
	font-size: 14px;	
}

.upload_bd_ul {
	width:480px;
	height:280px;
	padding: 15px;
	margin: 10px 0 0 0;
	overflow:hidden;
	float:left;
}
.upload_bd_ul li {
	width:522px;
	height:33px;
	padding: 0px;
	overflow:hidden;
}

.upload_bd_ul_p1 {
	width:100px;
	padding: 5px 0 0 0;
	margin: 0;
	overflow:hidden;
	float:left;
}

.upload_bd_ul_p2 {
	width:250px;
	padding: 0;
	margin-right: 10px;
	overflow:hidden;
	float:left;
}


/***** FOOTER *****/
#footer {
	clear: both;
	width: 960px;
	height: 70px;
	background: url(images/footer_bg.png) repeat-x 0 0;
	font-size: 0.9em;
}

#footer .foot_l {
	background: url(images/footer_l.png) no-repeat left top;
	width: 80px;
	height: 74px;
	float: left;
}

#footer .foot_l a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	border: 0;
}

#footer .foot_r {
	background: url(images/footer_r.png) no-repeat right top;
	width: 26px;
	height: 74px;
	float: right;
	clear: none;
}

/* Back to top */
#footer .backToTop {
	display: inline;
	width: 40px;
	height: 74px;
	float: right;
}

#footer .backToTop a {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
	background: url(images/footer_backToTop.png) no-repeat 0 0;
}

#footer .backToTop a:hover {
	border: none;
	background: url(images/footer_backToTop.png) no-repeat 0 -74px;
}
